{% extends 'base.html.twig' %}

{% block attributes %}
    {{ stimulus_controller("dropdown") }}
{% endblock %}

{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}

{% block body %}
    {% form_theme form with ['address/form.html.twig'] %}

    <div class="content">
        <div class="ui mini container">
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}">
                <h2>
                    Ajouter un gif
                </h2>
            </div>
            {%  if errorMessage is defined %}
                <div class="ui red message">{{ errorMessage }}</div>
            {%  endif %}
            <div class="preview-gif">
            </div>
            {{ form_start(form, {'attr' : {'class' : 'ui form'}}) }}
                {{ form_errors(form, { 'attr' : { 'class' : 'ui red message'}}) }}
            <div class="field">
                <label>Comment souhaitez-vous nommer ce gif?</label>
                {{ form_widget(form.name) }}
            </div>
            <div class="field">
                <label>Entrez une url</label>
                {{ form_widget(form.url) }}
            </div>
            <div class="field">
                <label>Entrez le certificat</label>
                {{ form_widget(form.certificate) }}
            </div>
            <div class="field">
                <label>Prix</label>
                {{ form_widget(form.price) }}
            </div>
            <div class=" field">
                <div class="two fields">
                    <div class="field">
                        <label>Affecter un état</label>
                        {{ form_widget(form.state, {'attr': {'class': 'ui fluid  dropdown'}}) }}
                    </div>
                    <div class="field">
                        <label>Visibilité sur le market</label>
                        {{ form_widget(form.visible, {'attr': {'class': 'ui fluid  dropdown'}}) }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Catégories</label>
                {{ form_widget(form.categories, {'attr': {'class': 'ui fluid multiple search selection dropdown', "data-dropdown-target": "dropdown"}}) }}
            </div>
            <button class="ui fluid green button" type="submit">Ajouter ce gif</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
