<div class="list-gifs">
    {% for gif in gifs %}
        <div class="card">
            <div class="gif">
                <img src="{{ gif.url }}">
            </div>
            <div class="informations">
                {{ gif.name }}
                {{ gif.price }}
                {% for category in gif.categories %}
                    <div class="ui label">{{ category.label }}</div>
                {% endfor %}
                {{ gif.owner.username }}
            </div>
        </div>
    {% endfor %}
</div>
