<div class="menu">
    <div class="menu-content">
        <div class="part-left">
            <div class="logo-menu"><img src="{{ asset('images/logo.png') }}"></div>
            <a href="{{ path("app_index_index") }}"><h1>MyGifs</h1></a>
        </div>
        <div class="part-right">
            {% if is_granted('ROLE_USER') %}
                <a href="#"><span>Mes gifs</span></a>
                <a href="#">
                    <i class=" shopping basket big icon"></i>
                    <span>Mon panier</span>
                </a>
            {% endif %}
            <div class="ui dropdown item" {{ stimulus_controller("dropdown") }}{{ stimulus_target("dropdown", "dropdown") }}>
                <i class="user circle outline big icon"></i>
                <div class="menu">
                    <a href="{{ path('app_gif_addgif') }}" class="Ajouter mon gif">Vendre un gif</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('app_login_logout') }}" title="Mon compte" class="item">
                            <i class="user circle outline icon"></i>
                            Mon compte
                        </a>
                        <a href="{{ path('app_login_logout') }}" title="Me déconnecter" class="item">
                            <i class="sign out alternate icon"></i>
                            Me déconnecter
                        </a>
                    {% else %}
                        <a href="{{ path('connect_google') }}" title="Me connecter" class="item">
                            <i class="sign out alternate icon"></i>
                            Me connecter
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>